/*********
General
***********/

body {
    text-align: center;
    margin: 0;
}

#homepage {
    background: url(../imgs/bg3.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
	list-style-type: none;
	padding: 5px;
}

li {
	display: inline;
	padding: 0 2em;
}

.section_top {
    padding: 1.2em 0;
}

.wrap-content {
	margin: 0 auto;
	max-width: 680px;
	width: 85%;
}

#join-btn {
    border: 0em;
    padding: 1.3em;
    font-size: 0.7em;
}

.section_footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* getting rid of all outlines*/
* {
    outline: none;
}

/*********
Color
***********/
.section_top {
    background-color: #2579A9;
}

a {
    text-decoration: none;
    color:#ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #717171;
}

#title-header {
    color: rgb(255, 255, 255);
}

.text-white {
    color: #ffffff;
}

.sign-up {
    background: #1ABC9C;
}

.sign-in {
    background: #FDB915;
}

.sign-up, .sign-in {
    color:#ffffff;
}

#join-btn {
    background: #1ABC9C;
}

.section_footer {
    color: #C8C9CA;
}
/*********
Typography
***********/
body {
    font-family: sans-serif;
}

h2 {
    font-size: 1.7em;
}

.sign-up, .sign-in {
    padding: 10px;
}

#marketing {
    font-size: 1.3em;
}


/******
 media 
*******/

/* mobile responsivity fixes*/

@media screen and (max-width: 720px){
    #homepage {
        background: url(../imgs/bg4.jpg) center center fixed !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
}