/*********
General
***********/

body {
    text-align: center;
    margin: 0;
}

#homepage {
    background: url(../imgs/bg2.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
	list-style-type: none;
	padding: 5px;
}

li {
	display: inline;
	padding: 0 1em;
}

.section_top {
    margin-top: -21px;
}

.wrap-content {
	margin: 0 auto;
	max-width: 680px;
	width: 85%;
}

/*********
Color
***********/
.section_top {
    background-color: #2579A9;
}

a {
    text-decoration: none;
}
a:visited {
    color: #FDB915;
}
#title-header {
    color: rgb(255, 255, 255);
}
.text-white {
    color: #ffffff;
}
/*********
Typography
***********/
body {
    font-family: sans-serif;
}

h2 {
    font-size: 1.7em;
}
